<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragment :: tabela}">
</head>
<body>
<h1>Lista de Alunos</h1>
<div th:if="${alunos.size() > 0}">
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Materia Preferida</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iteração sobre uma lista de alunos -->
    <tr  th:each="aluno : ${alunos}">
        <td th:text="${aluno.getPessoa().getNomeCompleto()}">ID</td>
        <td th:text="${aluno.getMateriaPreferida()}">Nome do Aluno</td>
    </tr>

    </tbody>
</table>
</div>
</body>
</html>